.preview {
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;

  .labels {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    padding: 60px;

    .title {
      font-family: var(--family-montserrat);
      color: inherit;
      font-size: 32px;
    }
    .slogan {
      font-family: var(--family-lora);
      color: inherit;
      font-size: 20px;
      line-height: 1.45;
    }
  }
}

@media only screen and (max-width: 769px) {
  .video {
    display: none;
  }
  .labels {
    gap: 60px;
  }
}
